@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    background-color: black;
    width: 100%;
}

h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f0f0f0;
  width: 100%;
  animation: fadeIn 3.5s ease-in-out;
}

#header-container {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  opacity: 0.8;
  height: 40px;
  animation: fadeIn 3.5s ease-in-out;
}

.hamburger-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    left: 15px;
}


#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #f0f0f0;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 250px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #eceff14b;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  opacity: 95%;
  transition-duration: .25s;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #f0f0f0;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(20px);
  opacity: 0;
}

#menu__toggle:checked ~ .menu__box .menu__item {
  transform: translateY(0);
  opacity: 1;
}

#menu__toggle:checked ~ .menu__box .menu__item:nth-child(1) {
  transition-delay: 0.3s;
}

#menu__toggle:checked ~ .menu__box .menu__item:nth-child(2) {
  transition-delay: 0.4s;
}

#menu__toggle:checked ~ .menu__box .menu__item:nth-child(3) {
  transition-delay: 0.5s;
}
.menu__item:hover {
  background-color: #cfd8dc49;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(0,0,0,0.7);
  line-height: 1.2;
  padding: 100px 10px 25px 10px;
  display: block;
  text-align: center;
}

.subtitle {
  color: #ffcc00;
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1rem;
}

.container{
    display: block;
    text-align: left;
    padding: 5px 10px;
    width: 60vw;
    background-color: #333;
    height: 500px;
    margin: 0 auto; 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

.container h3{
    color: white;
    font-style: italic;
    font-size: 1.5rem;
}

footer {
    margin-top: 40px;
    position: flex;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}