@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    background-color: black;
    width: 100%;
}

.hamburger-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    left: 15px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
    transition: 0.3s;
}


#iphone17Video {
    width: 100%;
    height: auto;
    max-height: 100vh;
    margin-top: 100px; /* Adjust to lower the video */
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: relative;

  width: 26px;
  height: 26px;

  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: #f0f0f0;

  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 500px;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: #eceff14b;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  opacity: 95%;
  transition-duration: .25s;
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.menu__item {
  display: block;
  padding: 12px 24px;

  color: #f0f0f0;

  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(20px);
  opacity: 0;
}

#menu__toggle:checked ~ .menu__box .menu__item {
  transform: translateY(0);
  opacity: 1;
}

#menu__toggle:checked ~ .menu__box .menu__item:nth-child(1) {
  transition-delay: 0.3s;
}

#menu__toggle:checked ~ .menu__box .menu__item:nth-child(2) {
  transition-delay: 0.4s;
}

#menu__toggle:checked ~ .menu__box .menu__item:nth-child(3) {
  transition-delay: 0.5s;
}
.menu__item:hover {
  background-color: #cfd8dc49;
}

#iphone17Image {
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.image-container {
    width: 100%;
}

.image-text {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: white;
    font-weight: bold;
    font-size: 64px;
    font-family: sans-serif;
}

.paragraph-container {
    margin: 40px 30vw;
    font-size: 18px;
    line-height: 1.6;
}

.paragraph-container p {
    color: rgb(210, 210, 210);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.paragraph-image {
    text-align: center;
    margin: 40px 0;
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

.paragraph-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} 

.paragraph-image p {
  margin-top: 8px;
  text-align: center;
}

footer {
    margin-top: 40px;
    position: flex;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #000000;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}